#about
	height 740px
	font-size 16px
	strong
		font-size 23px
		font-weigt 900
.section-title_about
	&:after
		content: '~~~~~~~~~ :: ~~~~~~~~~'
.paragraph
	color #7e8287
	text-align center
	margin-top 25px
	// padding 0 190px
	line-height 2.2em